.testimonials {
    padding: 0 15px;

    .container {
        background-color: #CCDDFF;
        background-image: url(../img/testimonials1.png);
        border-radius: 50px;
        background-repeat: no-repeat;
        background-position: left;
        padding: 80px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        // 120px

        h3 {
            font-family: $worksansFont;
            font-weight: 700;
            font-size: 30px;
            // 40px
            text-align: center;
            color: #4B5D68;
            margin-bottom: 80px;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;

            li {
                padding: 50px 30px;
                background-color: #fff;
                border-radius: 50px;
                max-width: 465px;
                min-height: 300px;
                display: flex;
                align-items: center;
                flex-direction: column;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                img {
                    border-radius: 50%;
                    margin-bottom: 10px;
                }

                h4 {
                    font-family: $montserratFont;
                    font-size: 16px;
                    font-weight: 500;
                    color: #212353;
                    margin-bottom: 10px;
                }

                a {
                    font-family: $montserratFont;
                    font-size: 14px;
                    font-weight: 500;
                    color: #9C69E2;
                    margin-bottom: 2px;
                    letter-spacing: 1%;
                    transition: all .2s ease-in; 
                    margin-bottom: 19px;
                    display: block;

                    &:hover {
                        text-decoration: underline;
                        transition: all .2s ease-in;
                    }
                }

                p {
                    font-family: $montserratFont;
                    font-size: 16px;
                    line-height: 26px;
                    color: #4B5D68;
                    max-width: 300px;
                    text-align: center;
                }
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}